<div>
  <div
    style="height: 60vh; background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Starr_080731-9572_Monstera_deliciosa.jpg/1200px-Starr_080731-9572_Monstera_deliciosa.jpg');">

    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="#">New Leaf</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <ul class="navbar-nav mr-auto">
            <li>
              <a class="nav-link" href="#">Plant care</a>
            </li>
            <li>
              <a class="nav-link" href="#">My plants</a>
            </li>
            <li>
              <a class="nav-link" href="#">Find plant</a>
            </li>
            <li>
              <a class="nav-link" href="#">Discover</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>

    <div class="input-group input-group-lg w-75 mx-auto" style="padding-top: 25vh;">
      <input type="text" id="search" placeholder="Find your dream plant" class="form-control" />
      <div class="input-group-append">
        <button class="input-group-btn btn-danger">&nbsp;&nbsp;&nbsp;🔍&nbsp;&nbsp;&nbsp;</span>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      var xhr;
      $("#search").on('keyup', (e) => {
        var search = $(e.target).val()
        console.log("[search] autocomplete: " + search)
        if (xhr != null) {
          xhr.abort();
        }
        if (search == "") {
          $("#searchResults").html("");
          return;
        }
        xhr = $.ajax(`/api/plants/common_name/${search}`)
          .done(function (data) {
            console.log("[search] autocomplete results for: " + search + " = " + JSON.stringify(data, null, 2));

            // different search results now
            if (search != $(e.target).val()) { return; }

            var template = `
<%#plants%>
<li class="media py-3">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Starr_080731-9572_Monstera_deliciosa.jpg/1200px-Starr_080731-9572_Monstera_deliciosa.jpg" class="mr-3 img-thumbnail" alt="" style="width:200px">
  <div class="media-body">
    <h4 class="mt-0 mb-1"><span class="font-italic"><%scientific_name%></span> (<% common_name %>)</h4>
    <%family_common_name%>
  </div>
</li>
<%/plants%>
            `;
            var rendered = Mustache.render(template, { plants: data }, {}, ['<%', '%>']);
            $("#searchResults").html(rendered);
          });
        //}
      });
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

  <div class="album">
    <div class="container-fluid">
      <ul id="searchResults" class="list-unstyled"></ul>
    </div>
  </div>
</div>